P{
    color:	rgb(250, 248, 248);
    font-size: 15px;
    font-family:  Helvetica,Arial ;

}



body{
    background-color: rgb(38, 154, 221);
}
*{
    margin: 0;
    padding: 0;
    font-family: Helvetica,Arial;
}


header{
    background-color:  rgb(250, 248, 248);
    height: 80px;
    padding: 1px;

}

footer{
    clear:both;
    background-color: rgb(250, 248, 248);
    height: 50px;
    text-align: center;
    padding: 10px;

}

h1{
    color:rgb(250, 248, 248);
    text-shadow: 1px 1px 1px #111111;
    text-align: center;
    margin: 0 0 10px 0;
    font-family: Helvetica,Arial;
    
}
h2{
    color:rgb(250, 248, 248);
    text-align: center;
    margin: 0 0 1px 0;
    font-family: Helvetica,Arial;
    padding: 1px;
}
h3{
    color:rgb(250, 248, 248);
    text-align: center;
    margin: 0 0 1px 0;
    font-family: Helvetica,Arial;
    padding: 1px;
}

table {
    margin: 20px auto;
    width: auto;
}
th, td {
    border: 1px Solid Black;
    min-width: 30px;
}

#tblTextCenter{
    text-align: center;
}
.error{
    color:rgb(250, 248, 248);
    text-shadow: 1px 1px 1px #111111;
    text-align: center;
    margin: 0 0 10px 0;
    font-family: Helvetica,Arial;
}


#principal{
    background-image: url('Images/Background.jpg');
    clear:both;
    background-size: 100%;
    min-height: 500px;
    padding: 1px;
  
    
}

#logo{
    float:left;


}
#menu{
    margin-top: 30px;
    float: right;
}

#menu a{
    padding: 40px 20px;
    text-decoration: none;
    color: #111;
    font-size: 18px;
    

}

#menu a:hover{
    background-color: #ADD8E6;
    color: rgb(250, 248, 248);
    

}

.container{
    width: 960px;
    margin: 0, auto;
    text-align: center;

}

.efeito{
background-color: 0, 0, 0, 0.5;
padding: 20px 0 20px 0;
}

.resumo{
    padding: 1px;   
    text-decoration: none;
    color: rgb(250, 248, 248);
    font-size: 18px;
    width: 400px;
    margin: 10px;
    float: left;
}

form {
    font-family: Helvetica,Arial;
    font-size: 15px;
    /*background-color: 	#F0FFFF;*/
    max-width: 500px;
}
input{
    width: 200px;
    padding: 10px;
    color: black;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid;
}

textarea {
    width: 218px;
    padding: 40px;
    color: black;
    margin-left: 1px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid;
}



input:hover, textarea:hover, input:focus, textarea:focus {
    border-color: #000066;
    box-shadow: 5px 0px 9px #4682B4;
    background-color: #ADD8E6;
    color: black;
    font-weight: bold;
}

.enviar {
    background-color: #ADD8E6;
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: black;
}

.disciplina {
    color: red;
    font-weight: bold;
}

a{
    color:rgb(211,211,211);
    text-decoration: none; 
    font-weight: bold;
}

a:hover{ /*pseudo-classe que muda as características do link quando o mouse passa por cima*/
    color: rgb(90, 70, 70);
    text-decoration: underline;
}